.total
{
  text-align: right;
  color: red;
}

.btn1
{
  background: #4CAF50;
  border:none;
  color:white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
}